<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>

    <sectionGroup name="coypu">
      <section name="browserSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="productDetailNoSizeUrls" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="fakeData" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <add name="ctWebDb" connectionString="Server=server;UID=uid;PWD=pwd;Database=database" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.1.221" newVersion="1.9.1.221" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.1.221" newVersion="1.9.1.221" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <coypu>
    <browserSettings>
      <add key="baseUrl" value="localhost" />
      <add key="port" value="888" />
      <add key="ssl" value="false" />
      <add key="browser" value="Chrome" />
      <add key="timeout" value="5.0" /> <!--seconds in double format-->
      <add key="retryInterval" value="0.1" /> <!--seconds in double format-->
    </browserSettings>
    <productDetailNoSizeUrls>
      <add key="cufflinksFleurDeLys" value="/men's-accessories/men's-cufflinks/Enamel-navy-fleur-de-lys-cufflinks?q=gbpdefault||le370nav|||||||||||||" />
      <add key="cufflinksGoldRectangle" value="/men's-accessories/men's-cufflinks/Enamel-navy-and-rose-gold-rectangle-cufflinks?q=gbpdefault||le422nav|||||||||||||" />
      <add key="blackCompactUmbrella" value="/men's-accessories/umbrella/Black-compact-umbrella?q=gbpdefault||na008blk|||||||||||||" />
      <add key="leatherAndSuedeProtector" value="/men's-accessories/shoe-care/Leather-and-suede-protector?q=gbpdefault||ma004msc|||||||||||||" />
      <add key="silverCollarStiffeners" value="/men's-accessories/collar-stiffeners/Sterling-silver-collar-stiffeners?q=gbpdefault||nm007msc|||||||||||||" />
    </productDetailNoSizeUrls>
    <fakeData>
      <add key="login.UserNoCards.Password" value="xxxx" />
      <add key="login.UserNoCards.Greeting" value="Mr" />
      <add key="login.UserNoCards.Address" value="1 Some Road" />
      <add key="login.UserNoCards.Town" value="London" />
      <add key="login.UserNoCards.CountryCode" value="UK" />
      <add key="login.UserNoCards.PostCode" value="SW00 0XX" />
      <add key="login.UserNoCards.DaytimePhone" value="020 1111 2222" />
    </fakeData>
  </coypu>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>